.cards{
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    place-items: center;
  }
  .grid-items{
    border: 2px solid black;
    width: 70%;
    background-color: rgb(207,207,207);
    box-shadow: 10px 10px 5px 2px black;
  }
  .flex{
    display: flex;
  }
  body{
    background-color: blanchedalmond;
  }
  h2{
    background-color: crimson;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    color:white;
  }
  table{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarine;
  }
  th,td{
    border: 2px solid black;
  }
  button{
    background-color: lightblue;
  }
 
 
 